@{
    ViewBag.Title = "Register";
}

<div class="row">
    <div class="col-xs-12 col-sm-offset-3 col-sm-6">
        <div class="well">
            <h2>Log In</h2>
            @using (Html.BeginForm())
            {
                if (ViewBag.Error != null)
                {
                    <div class="alert alert-danger">
                        <ul>
                            @foreach (string error in (IEnumerable<string>)ViewBag.Error)
                            {
                                <li>@error</li>
                            }
                        </ul>

                    </div>
                }
                <div class="form-group">
                    <label for="username" class="control-label">Username</label>
                    <input name="username" placeholder="username" type="text" class="form-control" required />
                </div>
                <div class="form-group">
                    <label for="password" class="control-label">Password</label>
                    <input name="password" placeholder="password" type="password" class="form-control" required />
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-6">
                        <input type="submit" class="btn btn-primary" value="Log On" />
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        @Html.ActionLink("Register", "Register", null, new { @class = "btn btn-default" })
                    </div>
                </div>
            }
        </div>
    </div>
</div>