@{
    ViewBag.Title = "Register";
}
@if (ViewBag.Error != null)
{
    foreach (string s in (IEnumerable<string>)ViewBag.Error)
    {
        <div>Error: @s</div>
    }
}
@using (Html.BeginForm())
{
    <div class="container">
        <div class="row">
            <div class="col-sm-2 col-md-3 hidden-xs"></div>
            <div class="col-xs-12 col-sm-8 col-md-6">
                <div class="well" align="center">
                    <div class="form-group"><h2>Account Creation</h2></div>

                    <div class="form-group registerWidth">
                        <input class="form-control" name="username" type="text" placeholder="Username" required />
                    </div>

                    <div class="form-group registerWidth">
                        <input class="form-control" name="email" type="text" placeholder="Email" required />
                    </div>

                    <div class="form-group registerWidth">
                        <input class="form-control" name="phoneNumber" type="text" placeholder="Phone Number" required />
                    </div>

                    <div class="form-group registerWidth">
                        <input class="form-control" name="password" type="password" placeholder="Password" required />
                    </div>

                    <div class="form-group"><h2>Account Information:</h2></div>

                    <div class="form-group registerWidth">
                        <input class="form-control" name="firstName" type="text" placeholder="First Name" required />
                    </div>

                    <div class="form-group registerWidth">
                        <input class="form-control" name="lastName" type="text" placeholder="Last Name" required />
                    </div>

                    <div class="form-group registerWidth">
                        <input class="form-control" name="address1" type="text" placeholder="Address" required />
                    </div>

                    <div class="form-group registerWidth">
                        <input class="form-control" name="address2" type="text" placeholder="Address (line 2) - Optional" />
                    </div>

                    <div class="form-group registerWidth">
                        <input class="form-control" name="city" type="text" placeholder="City" required />
                    </div>

                    <div class="form-group registerWidth">
                        <input class="form-control" name="state" type="text" placeholder="State" required />
                    </div>

                    <div class="form-group registerWidth">
                        <input class="form-control" name="postalCode" type="text" placeholder="Zip" required />
                    </div>

                    <input type="submit" class="btn btn-default" value="Create Account" />
                </div>
                <div class="col-sm-2 col-md-3 hidden-xs"></div>
            </div>
        </div>
    </div>
}