<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://paracord.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>paracord.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>paracord</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$paracord</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="SimonStoreEntities" Order="1" Enabled="False">
          <Destination Path="Data Source=paracord.database.windows.net;Initial Catalog=ParacordDB;Persist Security Info=True;User ID=****;Password=****" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="SimonStore.Models.SimonStoreEntities, SimonStore" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DefaultConnection" Order="2" Enabled="False">
          <Destination Path="Data Source=paracord.database.windows.net;Initial Catalog=ParacordDB;Persist Security Info=True;User ID=****;Password=****" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=SimonStore;Integrated Security=True;Connect Timeout=60;Encrypt=False;TrustServerCertificate=True;ApplicationIntent=ReadWrite;MultiSubnetFailover=False" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\DefaultConnection_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=SimonStore;Integrated Security=True;Connect Timeout=60;Encrypt=False;TrustServerCertificate=True;ApplicationIntent=ReadWrite;MultiSubnetFailover=False" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="StoreDB" Order="3" Enabled="False">
          <Destination Path="Data Source=paracord.database.windows.net;Initial Catalog=ParacordDB;Persist Security Info=True;User ID=****;Password=****" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=SimonsStore;Integrated Security=True;Connect Timeout=15;Encrypt=False;TrustServerCertificate=True;ApplicationIntent=ReadWrite;MultiSubnetFailover=False" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\StoreDB_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source = (localdb)\MSSQLLocalDB; Initial Catalog = SimonsStore; Integrated Security = True; Connect Timeout = 15; Encrypt = False; TrustServerCertificate = True; ApplicationIntent = ReadWrite; MultiSubnetFailover = False" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=paracord.database.windows.net;Initial Catalog=ParacordDB;Persist Security Info=True;User ID=****;Password=****</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)SimonStoreEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.SimonStoreModel.csdl|res://*/Models.SimonStoreModel.ssdl|res://*/Models.SimonStoreModel.msl;provider=System.Data.SqlClient;provider connection string="Data Source=paracord.database.windows.net;Initial Catalog=ParacordDB;Persist Security Info=True;User ID=****;Password=****"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)StoreDB-Web.config Connection String">
      <ParameterValue>Data Source=paracord.database.windows.net;Initial Catalog=ParacordDB;Persist Security Info=True;User ID=****;Password=****</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>
