@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Here at the Paracord Store, customer service is of the utmost importance.</p>

<p>We are here to fulfill all of your Paracord needs, and have quick shipping, as well as fast turnaround times.</p>
