@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Simon's Paracord Store <br />
    123 Fake Street<br />
    Springfield, IL 62629<br />
</address>
<p><strong>Phone Hours:</strong> Mon through Fri - 9am to 5pm Central</p>

<address>
    <abbr title="Phone">P:</abbr>
    (123) 456-7890
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:support@paracordstore.com">support@paracordstore.com</a><br />
    <strong>Order Information:</strong> <a href="mailto:orders@paracordstore.com">orders@paracordstore.com</a>
</address>
