@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>The Paracord Store</h1>
    <p class="lead">Your one-stop shop for all of your Paracord Needs</p>
</div>

<div class="fotorama" data-width="1150" data-ratio="700/467" data-max-width="100%" align="center" data-loop="true" data-autoplay="true">
    <img src="/Images/Spinner/1.jpg">
    <img src="/Images/Spinner/B1.jpg">
    <img src="/Images/Spinner/B2.jpg">
    <img src="/Images/Spinner/B3.jpg">
    <img src="/Images/Spinner/B4.jpg">
</div>