@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Paracord Store</h1>
    <p class="lead">Your one-stop shop for all of your Paracord Needs</p>
</div>

<div class="fotorama" data-width="700" data-ratio="700/467" data-max-width="100%" align="center">
    <img src="/Images/bracelet1.jpg">
    <img src="/Images/bracelet2.jpg">
    <img src="/Images/bracelet3.jpg">
</div>