<a href="/cart" class="btn" ng-controller="CartController">
    <span class="glyphicon glyphicon-shopping-cart"></span>
    <span class="badge" ng-init="Initialize()">
        @ViewBag.CartItemCount
    </span>
</a>
<a href="~/Views/Shared/_Cart.cshtml">~/Views/Shared/_Cart.cshtml</a>
